*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    padding: 15px 55px;
    background-color: #415ba4;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: arial;
}
.container {
    padding: 20px 40px;
}
.header{
    display: flex;
    justify-content: right;
}
.form-style{
    display: flex;
    padding: 10px 20px;
    margin-top: 10px;
    border: 3px solid #8d91b6;
    justify-content: space-between;
}
.column1  {
    width: 59%;
}

.column2  {
    width: 39%;
}
.column1 div span, .column2 div span{
    color: #636567;
    width: 250px;
    font-size: 19px;
    font-weight: 900;
}
.column1 div input, .column2 div input{
display: flex;
width: 90%;
height: 100%;
border: 2px solid #8d91b6;
border-radius: 0;
padding: 0 10px;
font-size: 18px;
font-weight: bolder;
outline: none;
}
.form-style div div {
    width: 100%;
    margin: 5px;
    height:50px ;
    display: flex;
    align-items: center;
}
.extra-text{
    color: #636567;
    font-size: 19px;
    font-weight: 900;
    font-style: italic;
    padding: 10px 20px;
    border-left: 3px solid #8d91b6;
    border-right: 3px solid #8d91b6;
}
.footer{
    display: flex;
    background: #415ba4;
    justify-content: space-between;
    padding: 10px 20px;
    border: 3px solid #8d91b6;
    color: #fff;
    border-top-width: 0px;
    font-size: 19px;
    font-weight: 900;
}
.hr{
    margin: 200px 0 10px 0;
    height: 3px;
    background: #8d91b6;
}
.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.total-button{
    padding: 10px 25px; 
    font-size: 25px; 
    font-weight: 900;
    margin-right: 10px;
}
p {
    color: #636567;
    font-size: 19px;
    font-weight: 900;
    padding: 10px 20px;
}
.text-container{
    background: #415ba4;
    margin-top: 20px;
    padding: 10px;
}
.text-container div p{
    color: white;
    font-size: 15px;
}
.text-container div ul li{
    color: white;
    font-size: 15px;
    margin-left: 40px;
}
.heading{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.text1{
    font-size: 15px;
    font-weight: normal;
}
input {

}